Django==5.2.13
djangorestframework==3.17.1
python-dotenv==1.2.2
pillow==12.2.0
reportlab==4.0.9
xhtml2pdf==0.2.15
django-ratelimit==4.1.0
requests==2.33.1
sqlparse==0.5.5
tzdata==2026.1
whitenoise==6.9.0
